@model unaideas7.Models.Turma

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Turma</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntidadeDeEnsino.nome_entidade_ensino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntidadeDeEnsino.nome_entidade_ensino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professor.email_professor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor.email_professor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_turma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_turma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.periodo_turma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo_turma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ano_turma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ano_turma)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_turma }) |
    @Html.ActionLink("Back to List", "Index")
</p>
