@model IEnumerable<unaideas7.Models.Projeto>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo_projeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tema_projeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.palavras_chave_projeto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resumo_projeto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_projeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tema_projeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.palavras_chave_projeto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resumo_projeto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_projeto }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_projeto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_projeto })
        </td>
    </tr>
}

</table>
