@model IEnumerable<unaideas7.Models.Professor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Autenticacao.login)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mat_professor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email_professor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_professor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo_professor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone_professor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.disciplinas_professor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Autenticacao.login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mat_professor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email_professor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_professor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_professor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone_professor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disciplinas_professor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_professor }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_professor }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_professor })
        </td>
    </tr>
}

</table>
