@model unaideas7.Models.EntidadeDeEnsino

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EntidadeDeEnsino</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_entidade_ensino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_entidade_ensino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricao_entidade_ensino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricao_entidade_ensino)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_entidade_ensino }) |
    @Html.ActionLink("Back to List", "Index")
</p>
