@model IEnumerable<unaideas7.Models.Turma>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EntidadeDeEnsino.nome_entidade_ensino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Professor.email_professor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome_turma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.periodo_turma)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ano_turma)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EntidadeDeEnsino.nome_entidade_ensino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor.email_professor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome_turma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.periodo_turma)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ano_turma)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_turma }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_turma }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_turma })
        </td>
    </tr>
}

</table>
