@model unaideas7.Models.Investidor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Investidor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Autenticacao.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autenticacao.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntidadeDeEnsino.nome_entidade_ensino)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntidadeDeEnsino.nome_entidade_ensino)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nome_investidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_investidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rg_investidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rg_investidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cod_investidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cod_investidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email_investidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email_investidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefone_investidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefone_investidor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_investidor }) |
    @Html.ActionLink("Back to List", "Index")
</p>
